# Python
__pycache__/
*.py[cod]
*$py.class

# Airflow & Logs
logs/
airflow.db
unittests.cfg

# Environments & Secrets
.env
.venv/
env/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# OS files
.DS_Store
